body{
	background-size:cover; 
	border-right: 1px solid black; 
}
div{
	text-decoration-color: black;
	font-size: 40px;
}
.div1,.div3{
	height: 100px;
	width: 100px;
	margin: 0 auto 20px auto;
	text-align: center;
	background-color: #D3D3D3;
	border-top: 1px solid black;
}
.div2,.div4,.div5{
	height: 100px;
	width: 100px;
	margin: 0 auto 20px auto;
	text-align: center;
	background-color: #C0C0C0;
	border-top: 1px solid black;
}
.div6{
    height: 100px;
	width: 100px;
	margin: 0 auto 20px auto;
	text-align: center;
	background-color: #4682B4;
	border: 4px solid black;
}
.pall1{
	margin-top: 0px; 
}
.pall2{
	margin-top: 25%;
}